* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 2rem;
  background: #050505;
  color: magenta;
  font-family: MyFont;

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  color: cyan;
  text-align: center;
  margin-bottom: 2rem;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,31.4%));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #444;
  filter:brightness(60%);
  border-radius: 12px;
}

.tile {
  position: relative;
  padding: 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  background-color: #c52;
  filter:brightness(60%);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  z-index: 1 !important;
}
.tile:nth-child(2n) p { transform:rotate(10deg) scale(106%); }
.tile:nth-child(3n) p { transform:rotate(-15deg) scale(106%); }
.tile:nth-child(4n) p { transform:rotate(13deg) scale(106%); }
.tile:nth-child(5n) p { transform:rotate(-1deg) scale(106%); }
.tile:nth-child(6n) p { transform:rotate(-5deg) scale(106%); }
.tile:nth-child(2n) h2 { transform:rotate(-10deg) scale(106%); }
.tile:nth-child(3n) h2 { transform:rotate(7deg) scale(106%); }
.tile:nth-child(4n) h2 { transform:rotate(-7deg) scale(106%); }
.tile:nth-child(5n) h2 { transform:rotate(7deg) scale(106%); }
.tile:nth-child(6n) h2 { transform:rotate(5deg) scale(106%); }
.tile:nth-child(2n) { transform:rotate(-1deg) scale(108%); }
.tile:nth-child(3n) { transform:rotate(1deg) scale(108%); }
.tile:nth-child(4n) { transform:rotate(2deg) scale(108%); }
.tile:nth-child(5n) { transform:rotate(1.5deg) scale(108%); }
.tile:nth-child(6n) { transform:rotate(-1.5deg) scale(108%); }

.tile:hover {
  transform: scale(110%) translateY(25px);
  box-shadow: -0px -18px 1px #920;
  filter: brightness(80%);
  transition: .2s ease
  z-index: -55555 !important;
}

.tile h2 {
  margin-top: 0;
  color: #ffe;
  font-family: "Papyrus";
}
.tile p{
  margin-top: 0;
  color: #aaa;
  font-family: "Papyrus";
}

.container {
  position:relative;
  left: 42%;
  width: 20%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .9s ease-out;
  backface-visibility: hidden;
  filter: saturate(20%);
}

.container:hover .image {
  filter: saturate(100%);
  filter: hue-rotate(9deg);
}


