body {
	background: darkgrey;
}
.brick-wrapper{
	width: 300px;
	height: 100px;
	left: 100px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.brick-shape {
	position: absolute;
	background: #aa4a66;
	filter: url(#wiggle-brickshape) brightness(120%) saturate(60%);
	border-radius: 1px;
	width: inherit;
	height: inherit;
	transition: inherit ;
	clip-path: polygon(0% 0%, 0% 0%, 120% 0%, 120% 0%, 120% 120%, 0% 120%);
	

}

.brick-wrapper:hover{
	transform: translateY(20px) scale(120%);

}

.brick-wrapper:hover .brick-shape{
	clip-path: polygon(0% 20%, 30% 0%, 70% 0%, 100% 20%, 200% 100%, 0% 200%);
	height: 110%;
	box-shadow: 0px 40px 10px #000a;
}	 
.brick-detail {
	position: absolute;
	background: #aa4a66;
	filter: url(#wiggle-brick) blur(2px) brightness(120%) saturate(60%);
	border-radius: 10px;
	width: 90%;
	height: 70%;
	margin: 10px 0 ;

}
.brick-content {
	position: absolute;
	width: 70%;
	height: 0.2%;
	margin: 0%;
	padding-left: 25%;
	transform: inherit;
}
.brick-content p{
	position: absolute;
	top: 30px;
	
}
